/* UserInfoProducts Styles */
.productsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userInfoProducts {
  color: rgba(255,255,255, .9);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 3.1em;
  animation-name: fadein;
  animation-duration: 2s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .8; }
}

.userInfoProducts label {
font-family: sans-serif;
}

.checkboxContainer {
  display: flex;
  text-align: left;
  font-size: .8em;
}

.columnOne {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.columnTwo {
  display: flex;
  flex-direction: column;
  width: 310px;
}
.checkBox {
  display:flex;
  width: 40px;
  border: 2px solid white;
  border-radius: 5px;
  float:left;
  margin-right: 10px;
}
.option {
/*  float:right;*/
}
.continueButtonContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.userInfoProducts input[type="button"] {
  width:320px;
  display: inline-block;
	padding: 10px 14px;
  margin: 40px;
	color: rgba(255,255,255, .8);
	border: 3.0px solid rgba(255,255,255, .8);
	text-decoration: none;
	font-size: .6em;
	line-height: 120%;
	background-color: rgba(255,255,255, 0);
	border-radius: 6px;
	transition: 400ms ease;
  font-weight: normal;
  outline: none;
	cursor: pointer;
  align-items: center;
}

.userInfoProducts input[type="button"]:hover {
  background-color:rgba(201, 177, 155, .9);
	color: rgba(255,255,255, 1);
  border: 3px solid rgba(0, 127, 0, 0);
}
