/* UserInfoProducts Styles */
.productsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userInfoProducts {
  color: rgba(255,255,255, .9);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 3.1em;
}

.userInfoProducts label {
font-family: sans-serif;
}

.checkboxContainer {
  display: flex;
  text-align: left;
  font-size: .8em;
}

.columnOne {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.columnTwo {
  display: flex;
  flex-direction: column;
  width: 310px;
}
.checkBox {
  display:flex;
  width: 46px;
  border: 2px solid white;
  border-radius: 5px;
  float:left;
  margin-right: 10px;
}
.option {
/*  float:right;*/
}
.continueButtonContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.continueButton {
  width:320px;
  display: inline-block;
	padding: 10px 14px;
  margin: 40px;
	color: rgba(255,255,255, .8);
	border: 4.0px solid rgba(255,255,255, .8);
	text-decoration: none;
	font-size: .6em;
	line-height: 120%;
	background-color: rgba(255,255,255, 0);
	border-radius: 6px;
	transition: 400ms ease;
  font-weight: normal;
  outline: none;
	cursor: pointer;
  align-items: center;
}

.userInfoProducts input[type="submit"]:hover
{
  background-color: rgba(255,255,255, 0.2);
	color: #ECECEC;
}
