/* Welcome Styles */

.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.welcomeBackground {
  background-image: url("../../photos/welcome.jpg");
  background-size: cover;
  background-position: center center;
  max-height: 100vh;
}

.welcomeTitle {
  width:100%;
  max-width: 1000px;
  background-color: #;
  margin:0 auto;
  margin-top:300px;
  margin-left: 150px;
  height:470px;
  justify-content: left;
  animation-name: fadein;
  animation-duration: 4s;
  color: rgba(255,255,255, .8);
  font-size: 60px;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .8; }
}

.welcomeScreen{
  color: rgba(255,255,255, .6);
  margin-top:50px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.welcomeScreen input[type="submit"]
{
  width:150px;
  display: inline-block;
	padding: 10px 14px;
  margin: 10px;
	color: rgba(255,255,255, .8);
	border: 2.0px solid rgba(255,255,255, .8);
	text-decoration: none;
	font-size: 24px;
	line-height: 120%;
	background-color: rgba(255,255,255, 0);
	border-radius: 6px;
	transition: 500ms ease;
  font-weight: lighter;
  outline: none;
	cursor: pointer;
}

.welcomeScreen input[type="submit"]:hover
{
  background-color: rgba(255,255,255, 0.2);
	color: #ECECEC;
}
