/* WouldYouLike Styles */
@import url('https://fonts.googleapis.com/css?family=Roboto');

.wouldYouLikeBox {
  margin-top:100px;
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  height: 380px;
  border-radius: 10px;
  z-index: 10000;
  border: 0px solid rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top:30%;
  left: 25%;
}
html, p {
  font-family: sans-serif;
  font-weight: lighter;
}

 .closeX {
   float: right;
 }
 .x {
   font-size: 20px;
   color:rgba(128, 128, 128, .9);
   margin-right:;
 }
 .x:hover {
  color: rgba(128, 128, 128, .9);
  animation: bounce 2s;
  animation-iteration-count: 1;
 }
 .wouldYouLikeContent {
   display:flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   padding: 10px;
   font-size: 1.6em;
   color:rgba(102, 102, 102, 1);
   font-weight: lighter;
 }

 .wouldYouLikeButtonBox {
   display: flex;
 }
 .wouldYouLikeButton {
   margin: 15px;
   width:180px;
   display: inline-block;
   padding: 10px 14px;
   color: rgba(255,255,255, .8);
   border: 0px solid rgba(128, 128, 128, .8);
   text-decoration: none;
   line-height: 100%;
   background-color: rgba(128, 128, 128, .8);
   border-radius: 6px;
   transition: 400ms ease;
   font-weight: lighter;
   outline: none;
   cursor: pointer;
   font-size: 1em;
 }

 .wouldYouLikeButton:hover {
   background-color:rgba(128, 128, 128, 1);
   color: #fff;
   border: 0px solid rgba(128, 128, 128, 1);
 }

 @keyframes bounce {
   0% {
     transform: scale(1);
   }
   50% {
     transform: scale(1.3);
   }
   100% {
     transform: scale(1);

   }
 }
