/* UserInfo Styles */

.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.background {
  background-image: url("../../photos/placeholder.jpg");
  background-size: cover;
  background-position: center center;
  max-height: 90vh;
  height: 90vh;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.footer {
  padding-top:65px;
  padding-bottom:65px;
  background-color: #2f2d3a;
  text-align: center;
  align-items: center;
  color: rgba(255,255,255, .8);
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  width:100%;
  font-weight: bold;
  font-size: 1.7em;
}
