/* Home Styles */

.container {
  display:flex;
  flex-direction:column;
  background:#AAAAAA;
  min-height:100vh;
}

.content {
  display: flex;
  flex-direction: row;
  float: left;
  width:60%;
  margin-bottom: 5px;
  text-align: left;
  align-items: left;
}

.filters {
  min-height: 300px;
  background: #FF0000;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
  width:100%;
  max-width: 200px;
  display:flex;
  flex-direction: column;
  border: 1px solid #CCCCCC;
  border-radius: 5px; /*curves border*/
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  background: rgba(237, 41, 57, 0.5);
  text-decoration: none;
}

input[type=checkbox] {
  min-width: 20px;
  min-height: 20px;
  padding-right: 5px;
  border-radius: 4px;
  border-color: #ffffff;
  /*-webkit-appearance: button;*/
}

input[type=checkbox]:hover {
  box-shadow:0px 0px 20px #1300ff;
}

.specialOffers {
  min-height:10vh;
  width:90%;
  background:#EE0000;
  margin-top: 15px;
  margin-right: 5%;
  margin-left: 5%;
  /*margin-bottom: 15px;*/
  display:flex;
  flex-direction: column;
  align-items: center;
}

.sortByFees{
  min-height:10vh;
  width:90%;
  background:#EE0000;
  margin-top: 15px;
  margin-right: 5%;
  margin-left: 5%;
  /*margin-bottom: 15px;*/
  display:flex;
  flex-direction: column;
  align-items: center;
}

.physicalLocation {
  min-height:10vh;
  width:90%;
  background:#EEE000;
  margin-top: 15px;
  margin-right: 5%;
  margin-left: 5%;
  /*margin-bottom: 15px;*/
  display:flex;
  flex-direction:column;
  align-items: center;
}

.sortByPerformance{
  min-height:10vh;
  width:90%;
  background:#EEE000;
  margin-top: 15px;
  margin-right: 5%;
  margin-left: 5%;
  /*margin-bottom: 15px;*/
  display:flex;
  flex-direction:column;
  align-items: center;
}

.title{
  text-align: center;
  text-decoration: underline;
  /*align-content: center;*/
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  /*background: #AAAAAA; - used for grey boxing before deleting*/
}

.openingHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 4px solid #FF0000;
}

.controls{
  width:25%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.underScore{
  color: red;
}

.resultsPage{
  width: 75%;
  height: 100%;
  float: right;
  display: flex;
  margin-right: 15px;
  flex-direction: column;
  justify-content: right;
  background: #ffffff;
}

.sortingOrder {
  min-height: 300px;
  background: #FFFFFF;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
  width:100%;
  max-width: 200px;
  display:flex;
  flex-direction: column;
  border: 1px solid #CCCCCC;
  border-radius: 5px; /*curves border*/
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  background: rgba(237, 41, 57, 0.5);
  text-decoration: none;
  float: left;
}
