/* Home Styles */

.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}



.newsColumn {
    min-height:100vh;
    width:100%;
    background:#EEEEEE;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.newsItem {
    min-height: 120px;
    background: #FFFFFF;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    width:100%;
    max-width: 1000px;
    display:flex;
    flex-direction: row;
    border: 1px solid #CCCCCC;
    border-radius: 5px; /*curves border*/
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    background: rgba(237, 41, 57, 0.5);
    text-decoration: none;
}

.newsLogo{
    min-height: inherit;
    width: 120px;

    padding: 5px; /*prevents image from spilling out into the news info*/
    /*background: #AAAAAA; - used for grey boxing before deleting*/

}

.logoImage{
    height:auto;
    width: 120px;
    /*background: #AAAAAA;*/
}

.newsInfo{
    min-height: inherit;
    width: 100%;
    display:flex;
    flex-direction: column;
    background:#FFFFFF;
    border-radius: 0 5px 5px 0px;
}

.newsTitle{
    min-height: 40px;
    display:flex;
    /*background:#555555;*/
    margin: 10px;
    font-size: 2em;
    font-variant: small-caps;
    font-family: "Lato";
    color: #444444;
    border-bottom: 1px solid #DDDDDD;
}

.newsDescription{
    min-height: 20px;
    display:flex;
    /*background:#555555;*/
    margin-left: 10px;
    margin-right: 10px;
    font-size:0.9em;
    font-family: "Montserrat";
    color: #888888;
}
