/* Home Styles */
.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.resultsBackground {
  background-color: #ddd;
	background-size: cover;
  width: 100%;
  min-height: 100vh;
}


.resultsBanner {
  background-color: #ccc;
  animation-name: fadein;
  animation-duration: 2s;
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.resultsBanner h1 {
  font-size: 3em;
  text-align: center;
  color: rgba(248,250,242,.8);
}

.resultsBanner p {
  font-size: 1.1em;
  text-align: center;
  margin-top:;
  color: rgba(248,250,242,.8);
}

.resultsFilters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #bbb;
  text-align: center;
  font-size: 1.2em;
}

.resultsFilters select {
  color: rgba(255,255,255,.8);
  display: flex;
  flex-direction: row;
  background: transparent;
  width:auto;
  text-align-last: center;
  padding: px;
  font-size: 1em;
  border: 0px solid #ddd;
  height:35px;
  cursor: pointer;
  overflow:hidden;
  font-weight: lighter;
  background:url("../../photos/results-arrow.png") no-repeat right rgba(0,0,0,.0);
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}


.resultsFilters select:focus {
  outline: none;
}

.resultsFilters select:hover {
  background:url("../../photos/results-arrow-hover.png") no-repeat right rgba(0,0,0,.0);
  color: rgba(255,255,255,1);
}

.feesFilter select {
  padding-right: 25px;
}

.performanceFilter select {
  padding-right: 25px;
  padding-left: 160px;
}

.specialOffersFilter select {
  padding-right: 25px;
  padding-left: 160px;
}

.locationFilter select {
  padding-right: 25px;
  padding-left: 160px;
}
