/* SignupBox Styles */
.signUpBox {
  margin-top:100px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 400px;
  border-radius: 10px;
  z-index: 10000;
  border: 3px solid black;
}
 .label {
  background: #fafafa;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 1px solid black;
 }
 .label p {
   padding: 0 5px;
  padding-bottom: 20px;
 }
 .closeX {
   float: right;

 }
 .x {
  font-size: 20px;
 }
