/* SignupBox Styles */
@import url('https://fonts.googleapis.com/css?family=Roboto');

.signUpBox {
  margin-top:100px;
  margin-left: auto;
  margin-right: auto;
  width: 420px;
  height: 550px;
  border-radius: 10px;
  z-index: 10000;
  border: 3px solid black;
  background: #fafafa;
}
html, p {
  font-family: 'Roboto', sans-serif;
}
 .label {
  background: #dddddd;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 1px solid black;
 }
 .label p {
  padding: 5px;
 }
 .closeX {
   float: right;
 }
 .x {
  font-size: 20px;
  color:black;
 }
 .x:hover {
   color: red;
   animation: bounce 2s;
   animation-iteration-count: 1;
 }
 .signUpBoxContent {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 25px;
 }
 .line {
  margin-left: 10px;
 }
.range:focus {
  outline: none;
}
.firstNameInput {
  width: 140px;
}
.lastNameInput {
  width: 140px;
}
.emailInput {
  margin-left: 2px;
  width: 140px;
}
.phoneNumberInput {
  width: 100px;
}
.stateInput {
  margin-left: 26px;
}
.cityInput {
  margin-left: 35px;
}
.streetInput {
  margin-left: 20px;
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1);

  }
}
