/* UserInfoContribution Styles */
.contributionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userInfoContribution {
  color: rgba(255,255,255, .9);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 3.1em;
  animation-name: fadein;
  animation-duration: 2s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .8; }
}

.userInfoContribution input[type="number"] {
  width:60%;
  margin-top: 20px;
  background: rgba(255,255,255, 0);
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: thick;
  border-color: rgba(255,255,255, .9);
  color: rgba(255,255,255, .6);
  font-size: 1.5em;
  text-align: left;
}

.userInfoContribution input[type="button"] {
  width:320px;
  display: inline-block;
	padding: 10px 14px;
  margin: 40px;
	color: rgba(255,255,255, .8);
	border: 3.0px solid rgba(255,255,255, .8);
	text-decoration: none;
	font-size: .6em;
	line-height: 120%;
	background-color: rgba(255,255,255, 0);
	border-radius: 6px;
	transition: 400ms ease;
  font-weight: normal;
  outline: none;
	cursor: pointer;
}

.userInfoContribution input[type="button"]:hover {
  background-color:rgba(201, 177, 155, .9);
	color: rgba(255,255,255, 1);
  border: 3px solid rgba(0, 127, 0, 0);
}

.dollar {
  font-size: 1.4em;
  color: rgba(255,255,255, .7);
}
.userInfoContribution input[type="number"]:focus {
  outline: none;
}
